.section-contact {

    display: flex;
    flex-direction: column;
    /* Enables Flexbox */
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    background-color: lightgrey;
    min-height: 100vh;
    padding-top: 5rem;
}

.section-container h3 {
    margin-top: 1rem;
    font-size: 2.4rem;
    text-align: center;
}

.contact-map-card {
    display: flex;
    /* Enables Flexbox */
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    flex: 1;
    /* background-color: #fff; */
    padding: 2rem;
    border-radius: 2rem;
    max-height: 400px;
}

.contact-map {
    height: 350px;

    border-radius: 1.5rem;
}


.whatsapp-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.whatsapp-wrapper svg {
    width: 48px;
    height: 48px;
}

.float-wp {
    position: fixed;
    width: 6rem;
    height: 6rem;
    bottom: 2%;
    left: 2%;
    background-color: #25d366;
    color: #fff;
    border-radius: 5rem;
    text-align: center;
    font-size: 3rem;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}


.contact-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    font-size: 1.5rem;
}

.contact-infos,
.contact-map {
    width: 60vw;
    max-width: 100rem;
}

.contact-info {
    align-items: center;
    border: 1px solid black;
    align-self: center;
    padding: 20px;
    text-align: center;
    width: 250px;
    height: 17rem;
    background: #071c34;
    color: white;
    border-radius: 20px 60px;
}

.contact-info svg {
    color: #fda40b;
    margin-bottom: 1rem;
}

/* Call Button */
/* Call Button */
.call-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    padding: 12px 18px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease;
    gap: 10px;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

/* Adjust SVG sizes */
.call-button svg,
.contact-info>svg {
    width: 22px;
    height: 22px;
}

/* Make Number Stand Out */
.call-button span {
    font-size: 20px;
    font-weight: bold;
}

/* Hover Effect */
.call-button:hover {
    background-color: #0056b3;
}



@media screen and (max-width: 800px) {
    .contact-infos {
        flex-direction: column;
        row-gap: 20px;
    }

    .contact-info {
        width: 70vw;
        min-height: 10rem;
    }


    .call-button {

        padding: 8px 14px;
        font-size: 16px;
    }
}