/* Width Percentage */

.w80 {
  width: 80%;
}

/* Start Margin */
.m-auto {
  margin: auto;
}

.mt-2 {
  margin-top: 2rem !important;
}


.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

/* End Margin */


/* Start padding */
.pt-100 {
  padding-top: 100px;
}

/* End Text*/


/* Start Text */
.t-center {
  text-align: center;
}

/* End Text*/


/* Start Text */
.fw-600 {
  font-weight: 600
}

/* End Text*/

.ft-10 {
  font-size: 1rem;
}

/* 10px */
.ft-12 {
  font-size: 1.2rem;
}

/* 12px */
.ft-14 {
  font-size: 1.4rem;
}

/* 14px */
.ft-16 {
  font-size: 1.6rem;
}

/* 16px */
.ft-18 {
  font-size: 1.8rem;
}

/* 18px */
.ft-20 {
  font-size: 2rem;
}

/* 20px */
.ft-24 {
  font-size: 2.4rem;
}

/* 24px */
.ft-30 {
  font-size: 3rem;
}

/* 30px */
.ft-36 {
  font-size: 3.6rem;
}

/* 36px */
.ft-42 {
  font-size: 3.6rem;
}

/* 36px */
.ft-48 {
  font-size: 3.6rem;
}

/* 36px */