/* Width Percentage */

.w80 {
  width: 80%;
}

/* Start Margin */
.m-auto {
  margin: auto;
}

.mt-2 {
  margin-top: 2rem !important;
}


.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

/* End Margin */


/* Start padding */
.pt-100 {
  padding-top: 100px;
}

/* End Text*/


/* Start Text */
.t-center {
  text-align: center;
}

/* End Text*/


/* Start Text */
.fw-600 {
  font-weight: 600
}

/* End Text*/