/* Width Percentage */

.w80{
  width: 80%;
}

/* Start Margin */
.m-auto{
  margin: auto;
}

/* End Margin */


/* Start padding */
.pt-100{
  padding-top: 100px;
}

/* End Text*/



/* Start Text */
.t-center{
  text-align: center;
}

/* End Text*/


/* Start Text */
.fw-600{
  font-weight: 600
}

/* End Text*/